
:root{
  --pink:rgb(255, 184, 245)
}

body {
    background: url("resources/vaporwave.png") no-repeat;

    background-size: cover;
     background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 20px;
  overflow: auto; 
  font-family: "Roboto", sans-serif;

  }


a{
    color: var(--pink);
    padding: 1%;
    
}
h1,h2,h5,p{
    color: white;
    padding-left: 3%;
}


.coolimage{
  width: 10%; 
  padding-left: 8%;
}
.center {
  
    background-color: rgba(0, 0, 0,0.5);
    margin:auto;
    width: 80%;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    padding-top: 20px;
    

}
.blur{

  margin:auto;
  width: 99%;
  height: 99%;
  border-radius: 20px;
  padding-top: 20px;
  backdrop-filter: blur(5px);
}
.saul {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  
}
input{
  background-color: rgba(32, 32, 32, 0.507);

  width: 15%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px ;

}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(65, 65, 65); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(155, 153, 153); 
  }

  .padto{
    padding-left: 150px;

  }
  .send_button{

    background-color:  var(--pink);
    color: rgb(255, 255, 255);
    padding: 20px;
    width: 90px;
    height: 2%;
    text-align: center;
    border-radius:10px;
    border-width: 0;
    box-shadow:0 1px 1px #181818;
    display: inline-flex;
    align-items: center; 
    position: relative;
    left: 20%;
    margin-top: 2%;
    transition: 0.1s;
  }

  .send_button:hover{
    
    background-color: rgb(28, 245, 28);
    box-shadow:0 0px 1px rgb(28, 245, 28);
  }
  .sick_button{

    background-color:  var(--pink);
    color: rgb(255, 255, 255);
    padding: 2px;

    height: 2%;
 
    border-radius:7px;

    align-items: center; 

    transition: 0.3s;
    margin-left: -10%;
    
  }

  .sick_button:hover{
    
    background-color: rgb(110, 218, 137);
    box-shadow:0 0px 1px rgb(110, 218, 137);
  }
  .bryce{
    width: 100%;
  }
  
  .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }